.first-page {
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position:relative;
    background-color: rgb(147, 147, 213);
  }

  .first-page h1 {
    font-size: 3em;
    margin: 0;
  }

.first-page a {
    color: rgb(147, 147, 213);
}

  .first-page p {
    font-size: 1.5em;
    margin: 0;
  }

.button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(233, 223, 223);
    color: white;
    cursor: pointer;
    transition: width 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 20px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    display: inline-block;
  }

  .button:hover {
    width: 200px;
    padding: 10px 40px;
    background-color:pink !important;
}

  .description {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 28vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: white;
    border-radius: 40px 40px 0 0;
    border-top: solid 2px;
    outline: 7px ridge darkgrey;
  }
