/* .saved-liked-internships {
    padding: 20px;
} */

.main-content {
    padding: 20px;
}

.internship-box p {
    margin: 0 0 10px 0;
    color: #666;
}

.internship-box a:hover {
    text-decoration: underline;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icons .fa-icon {
    cursor: pointer;
    font-size: 1.2em;
    transition: color 0.3s;
}

.icons .fa-icon:hover {
    color: #007BFF;
}

.footer-styling {
    position: fixed;
    width: 100vw;
    bottom: 0;
}
