.dashboard {
    display: flex;
    flex-direction: column;
  }

  .tooltip-container {
    position: relative;
    display: inline-block;
  }

  .button-link {
    background: pink;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 20px;
    width: fit-content !important;
  }

  .button-link:hover {
    background-color: #926d73 !important;
  }

  .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: calc(5% - 8px);
    margin-left: 110%;
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    background-color: #926d73 !important;
  }

  .fixed-header, .fixed-footer {
    width: 100%;
    background: #fff;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }

  .fixed-header {
    top: 0;
    height: 60px;
  }

  .fixed-footer {
    bottom: 0;
    height: 60px;
  }

  .main-content {
    flex: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-y: auto;
  }

  .internships-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .internship-box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
  }

  .internship-box h3 {
    margin-top: 0;
  }

  .internship-box a {
    color: pink;
    text-decoration: none;
  }

  .search-bar {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid pink;
    border-radius: 4px;
}

.load-more {
  background: pink;
}

.load-more:hover {
  background-color:#926d73 !important;
}

.search-button {
background: pink !important;
}

.search-button:hover {
  background-color: #926d73 !important;
}
