.parent-edit-profile {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.edit-profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.edit-profile h1 {
    text-align: center;
    margin-bottom: 20px;
}

.edit-profile form {
    display: flex;
    flex-direction: column;
}

.edit-profile label {
    font-weight: bold;
}

.edit-profile input,
.edit-profile select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    color: black;
    background-color: rgb(147, 147, 213);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: pink;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}
.dropdown-section {
    position: relative;
    display: inline-block;
  }

  .dropdown-section button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }

  .dropdown-menu label {
    display: block;
    padding: 5px 10px;
  }

  .dropdown-menu input {
    margin-right: 10px;
  }
