.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(147, 147, 213);
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}

.search-bar {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons .icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 20px;
    color: #000;
}

.logout-button {
    background: pink;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 20px;
}
