.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(147, 147, 213);
}

.header-left {
    display: flex;
    align-items: center;
}

.dropdown-container{
    background-color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}

.search-bar {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons .icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 20px;
    color: #000;
}

.logout-button {
    background: pink;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 20px;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    display: flex;
    justify-content: flex-end;
    right: 10px;
    background-color: transparent;
    border: 0px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    border: 1px solid;
    padding-right: 70px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.notification-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: 0;
}
